@media (max-width: 768px) {
    .pagination {
      font-size: 12px;
    }
    .next,
    .prev {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    .pagination {
      font-size: 14px;
    }
  }